@import "tailwindcss";

@theme {
    --font-sans: 'Geist', sans-serif;
}

@layer base {
    body {
        @apply text-sm antialiased text-zinc-800 bg-white;
    }
}

@keyframes marqueeScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee-inner {
    animation: marqueeScroll 25s linear infinite;
}

.marquee-reverse {
    animation-direction: reverse;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
}